<div fxLayoutAlign="center" class="header">
  <h1>Elevator System</h1>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center">
  <app-elevator fxFlex *ngFor="let elevator of elevatorService.getElevators(); let i = index"
  [elevator]="elevator">
  </app-elevator>
</div>


<div fxLayout="row wrap" fxLayoutAlign="center" class="container">
  <button mat-raised-button class="button" [color]="startStopButton? 'accent' : 'primary'" (click)="startStopButton? stopSimulation() : startSimulation()">
    {{getButtonTitle()}}
  </button>

  <button mat-raised-button class="button" (click)="elevatorService.addElevator()">
    Add elevator
  </button>

  <button mat-raised-button class="button" (click)="elevatorService.removeElevator()">
    Remove elevator
  </button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" class="container">
  <app-control-panel></app-control-panel>
</div>