.panel {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(189, 196, 196);
    border-width: 3px;
    padding: 2vm;
}

.panel-element {
    padding: 1vw;
    margin: 1vw;
}

.button-panel-element {
    padding: 2vw;
    margin: 2vw;
}